voice-ai/agents/my-workflow-46.json
{
  "name": "My workflow 46",
  "nodes": [
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following:\n\n\n\"{{ $json.body.call.transcript }}\"\n\n\nCONCISE SUMMARY:",
              "prompt": "=Write a concise summary of the following:\n\n\n\"{{ $json.body.call.transcript }}\"\n\n\nCONCISE SUMMARY:"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        -144,
        320
      ],
      "id": "758c41ca-f5ff-4c5a-8d80-e78224bc890f",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        480
      ],
      "id": "3013c312-9520-44f9-82ca-b3bc4e498274",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zE5O89L0JjnRwfPU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Update CRM with Voice AI Agent Call Summary. \n\n",
        "height": 440,
        "width": 808,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        176
      ],
      "id": "a8182cff-e147-421b-84ec-026927313233",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Voice AI Agent Upsells Service to Customer\n",
        "height": 360,
        "width": 808,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "45bff189-cdc4-47ab-a02f-5fe6ec20c1d3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"from_number\": \"+15105183184\",\n\t\"to_number\": \"{{ $json['Phone Number '] }}\",\n\t\"retell_llm_dynamic_variables\": {\n\t\t\"name\": \"{{ $json['Name '] }}\",\n\t\t\"phone_number\": \"{{ $json['Phone Number '] }}\",\n        \"emai\": \"{{ $json.Email }}\",\n        \"lastvisitedon\": \"{{ $json['Last Visit'] }}\",\n\t\t\"details\": \"{{ $json.Details }}\"\n\t  },\n\t\"override_agent_id\": \"agent_b797314c8a7f7f6923bf9c72ab\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -64
      ],
      "id": "4104577f-7058-42bd-87de-1f568a3a4514",
      "name": "Retell",
      "credentials": {
        "httpCustomAuth": {
          "id": "JGdUtPEnSb6dAhxT",
          "name": "Retell AI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "ea3ea685-2dcf-42b7-87a3-1c42f670f75c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA",
          "mode": "list",
          "cachedResultName": "Upsell Voice AI Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -64,
        -64
      ],
      "id": "463ced32-96b6-410e-95e8-512a655bbacf",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XNaB59lvp2qAwfit",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upsell",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        320
      ],
      "id": "86fc95d2-7f4f-4eeb-97ee-90a73bf80810",
      "name": "Webhook",
      "webhookId": "dbbff561-6f5c-4a17-a02e-ebdfa0068887"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA",
          "mode": "list",
          "cachedResultName": "Upsell Voice AI Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NZiWcc-gvDvUFZNy8wbKnMO1v1Zgbx5zWcDb7tkbqnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.name }}",
            "Upsell Call Summary ": "={{ $json.response.text }}"
          },
          "matchingColumns": [
            "Name "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number ",
              "displayName": "Phone Number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Visit",
              "displayName": "Last Visit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Details",
              "displayName": "Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upsell Call Summary ",
              "displayName": "Upsell Call Summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        320
      ],
      "id": "1d8e1d76-5553-41dc-9973-4b689131899e",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XNaB59lvp2qAwfit",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "# FREE n8n Template",
        "height": 80,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -304
      ],
      "typeVersion": 1,
      "id": "536d6df5-7c10-47e9-baa2-fa95564bc4be",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a6a8d46-11a2-48fe-9ab4-b3abe743d217",
  "meta": {
    "instanceId": "5f99b345c3a4501a22438ba5962ff6685e5e97ee4bd0a17cc04a19ed072b5c2a"
  },
  "id": "p4bd3ptkm6inEhwC",
  "tags": []
}