n8n/workflows/vectorize-slack.json
{
  "name": "Vectorize Slack",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08HTC11E0L",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "5a836a61-776c-4795-bab2-0b0ffa5be3dc",
      "name": "Slack Trigger",
      "webhookId": "2c241320-a02f-461f-b262-7daed92d5791",
      "credentials": {
        "slackApi": {
          "id": "GOp1M51xO2OcJtNQ",
          "name": "Slack Account "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vectorize.io/v1/org/d32cb66e-4114-4da0-a19f-1c3a02b0db28/pipelines/aip7949e-dde4-40f2-944a-477594303f87/retrieval",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTE0ODU3OTAsImF1ZCI6ImQzMmNiNjZlLTQxMTQtNGRhMC1hMTlmLTFjM2EwMmIwZGIyOCIsInJvbGUiOiJhZG1pbiIsImF1dGhvcml6YXRpb25fZGV0YWlscyI6W3sibmFtZSI6IlJFVFJJRVZBTF9BQ0NFU1NfVE9LRU4iLCJpc1N0YW5kYXJkUm9sZSI6dHJ1ZSwicGVybWlzc2lvbnMiOnsiVmVyc2lvbiI6IjEuMCIsIlN0YXRlbWVudCI6W3siQWN0aW9uIjpbIk9yZzpQaXBlbGluZXM6UmV0cmlldmFsIl0sIlJlc291cmNlIjpbIi9vcmdhbml6YXRpb24vZDMyY2I2NmUtNDExNC00ZGEwLWExOWYtMWMzYTAyYjBkYjI4Il0sIkVmZmVjdCI6IkFsbG93In1dfX1dLCJleHAiOjE3NTE0ODkzOTAsInN1YiI6Ik15IHRva2VuIn0.DnUDXqTLzJoXwvwIqpFPHSI_yxBTBv_QUE7JHVhOp3yj8S2MdeOk0Y0Lyh85ieQBLtKo_qgdmudEhTKRmLRgdbKF4y7WS265eYb7OsE_bF-Vys1k460jnnazwIKkTw51vZAqJRtfLsXkWqrAChsiiuDEolyxomNhmjrl_ww-Mq9pgOqneXzx_7edK7hZ_yP2YTtJTCaTdvc23-h9ucujuYfOiV3R0uKfofLErzmuctiM5QEu_W3thKxqZHJJywUFMLx1rR7Uz1uOREZmpzXHNTVBrbTQF3H4Ljnsc8RS0qjzJxgpOau_i3JunwuzM83xqiuQjHJ1t0Aq1CIPDnN-bw"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"question\": \"{{ $json.text }}\",\n    \"numResults\": 5,\n    \"rerank\": true\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        240
      ],
      "id": "1b038c09-5861-4e8a-90cd-5a9f69055aa4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A user asked the following question to our vectorize docs bot:  {{ $('Slack Trigger').item.json.text }}\n\nWe retrieved the following helpful content to answer this question:\n\n<content>\n{{ JSON.stringify($json.documents) }}\n</content>\n\nPlease generate a helpful and concise response that answers the user's question clearly. Format the message using Slack markdown (e.g., use `*` for bold, `_` for italics, backticks for code, and line breaks where appropriate).\n\n- Keep the tone friendly and professional.  \n- Highlight the most relevant info first.  \n- If needed, suggest next steps or provide links (only if present in the documents).  \n- Avoid repeating the question unless it adds clarity.  \n- Keep the message under 500 characters if possible.\n\nYour response will be posted directly in Slack, so make it easy to read.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -60,
        240
      ],
      "id": "82bcec4e-3481-45e7-86a2-5d6762c3fe27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "# RAG Agent for Sales and Support Teams",
        "height": 100,
        "width": 700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        80
      ],
      "id": "2252ff29-331f-468c-b59a-5be4b4257f59",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# FREE Template",
        "height": 80,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        640
      ],
      "id": "cf257af0-1f6d-4af6-a15a-1697302b0941",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.event_ts }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        440
      ],
      "id": "9f9fbd13-03eb-4774-9027-24efd3df40a9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        440
      ],
      "id": "1fce9e53-2e5c-4862-a029-8c0d7be34cae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zE5O89L0JjnRwfPU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08HTC11E0L",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        260,
        240
      ],
      "id": "8be7193b-4cc4-45ea-8394-dbd00b815510",
      "name": "Send a message",
      "webhookId": "412fad05-d93a-49bb-b65b-2438e8c8dbe1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "htg4NmQXER0GP00v",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1c6c931-21e3-4176-988b-84fa03c98f2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f99b345c3a4501a22438ba5962ff6685e5e97ee4bd0a17cc04a19ed072b5c2a"
  },
  "id": "y3qJXboab2k01eYe",
  "tags": []
}